body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to bottom, #f2f2f2, #e0e0e0);
    width: auto;
    height: auto;
    /* Gradiente suave para un fondo nublado */
}

.home {
    background-color: rgb(151, 17, 204);
}

.title-home {
    color: rgb(123, 156, 247);
}

.func {
    background-color: purple;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(78, 4, 78);

    display: flex;
    justify-content: center;
    /* Centrado horizontal */
    align-items: center;
    /* Centrado vertical */
}

.func-li {
    background-color: rgba(164, 233, 233, 0.671);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(78, 4, 78);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: auto;
    height: auto;
    border-radius: 10px;
    /* Bordes redondeados para la lista */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    /* Sombra suave para destacar la lista */

    display: flex;

}

li {
    width: auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    /* Bordes redondeados para cada elemento de la lista */
    padding: 10px;
    margin: 5px;


}