<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/estilos.css">
    <title> Agregar Categoría y Medicamentos </title>
</head>

<body>

    <nav class="navbar">
        <div class="logo">
            <img src="../ClientesPages/img/logo-Photoroom.png" alt="Logo Farmacias La Estrella" style="height: 40px; margin-right: 10px;">
            <span class="farmacia-nombre">Farmacias La Estrella</span>
        </div>
        <ul class="nav-links">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="../login.html">Log out</a></li>
        </ul>
    </nav>
    
    <div class="container">
        <h1 class="title">Agregar Categoría y Medicamentos</h1>
        <form class="categoria-form" onsubmit="enviarFormulario(event)">
            <div class="form-group">
                <input type="text" name="nombre_categoria" placeholder="Nombre de la Categoría" required>
                <input type="text" name="descripcion_categoria" placeholder="Descripción" required>
            </div>
            <h3 class="subtitle">Medicamentos</h3>
            <div id="medicamentos" class="medicamentos-container"></div>
            <div class="button-group">
                <button type="button" class="btn-add" onclick="agregarMedicamento()">Agregar Medicamento</button>
                <button type="submit" class="btn-save">Guardar</button>
            </div>
        </form>
    </div>
    <script src="Script_C-Categoria.js"></script>
</body>

</html>