<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresa Categoria</title>
    <link rel="stylesheet" href="styles/estilos.css">
</head>

<body>
    <h1 class="title-home">Ingresa una Categoria</h1>

    <form id="myForm">
        <label for="Nombre">Nombre:</label> <input type="text" id="Nombre" name="Nombre">
        <label for="descripcion">Descripcion:</label> <input type="text" id="descripcion" name="descripcion">
        <button type="submit">Enviar</button>
    </form>


    <script>
        const form = document.getElementById('myForm');

        form.addEventListener('submit', (event) => {
            event.preventDefault(); // Evita el envío del formulario por defecto

            const formData = new FormData(form);
            const data = Object.fromEntries(formData.entries());

            // Convertir el objeto a JSON
            const jsonData = JSON.stringify(data);

            // Enviar la solicitud al backend (ejemplo con Fetch)
            fetch('http://localhost:8080/categoria', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: jsonData
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Respuesta del servidor:', data);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    </script>


</body>

</html>