<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresa Medicamento</title>
    <link rel="stylesheet" href="styles/estilos.css">
</head>


<body>
    <h1 class="title-home">Ingresa un Medicamento</h1>
    <form id="myForm">
        <label for="Nombre">Nombre:</label> <input type="text" id="Nombre" name="Nombre">
        <label for="Marca">Marca:</label> <input type="text" id="Marca" name="Marca">
        <label for="Descripcion">Descripcion:</label> <input type="text" id="Descripcion" name="Descripcion">
        <label for="numerolote">Numerolote:</label> <input type="text" id="numerolote" name="numerolote">
        <label for="fechafabric">Fechafabric:</label> <input type="date" id="fechafabric" name="fechafabric">
        <label for="fechavence">Fechavence:</label> <input type="date" id="fechavence" name="fechavence">
        <label for="stock">Stock:</label> <input type="number" id="stock" name="stock">
        <button type="submit">Enviar</button>
    </form>

    <button onclick="agregarMedicamento()">Agregar Medicamento</button>

    <div class="agregar-medicamento-container" style="display: none;">
        <h2>Agregar Medicamento</h2>
        <form id="agregar-medicamento-form">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre"><br><br>
            <label for="categoria">Categoría:</label>
            <select id="categoria" name="categoria">
                <!-- opciones de categoría -->
            </select><br><br>
            <input type="submit" value="Agregar">
        </form>
    </div>

    <script src="Script_C-Medicamento.js"></script>

</body>

</html>