<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/estilos.css">
    <title>Ingreso de Medicamento</title>
</head>

<body>

    <nav class="navbar">
        <div class="logo">
            <img src="../ClientesPages/img/logo-Photoroom.png" alt="Logo Farmacias La Estrella" style="height: 40px; margin-right: 10px;">
            <span class="farmacia-nombre">Farmacias La Estrella</span>
        </div>
        <ul class="nav-links">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="../login.html">Log out</a></li>
        </ul>
    </nav>
    
    <div class="container">
        <h1 class="title">Ingreso de Medicamento</h1>
        <form id="myForm" class="categoria-form">
            <div class="form-group">
                <input type="text" id="Nombre" name="Nombre" placeholder="Nombre del Medicamento" required>
                <input type="text" id="Marca" name="Marca" placeholder="Marca" required>
                <input type="text" id="Descripcion" name="Descripcion" placeholder="Descripción" required>
                <input type="text" id="numerolote" name="numerolote" placeholder="Número de Lote" required>
                <div class="date-group">
                    <label for="fechafabric">Fecha de Fabricación:</label>
                    <input type="date" id="fechafabric" name="fechafabric" required>
                </div>
                <div class="date-group">
                    <label for="fechavence">Fecha de Vencimiento:</label>
                    <input type="date" id="fechavence" name="fechavence" required>
                </div>
                <input type="number" id="stock" name="stock" placeholder="Stock" required>
                <div class="select-group">
                    <label for="Bioequivalente">Bioequivalente:</label>
                    <select id="Bioequivalente" name="Bioequivalente" required>
                        <option value="true">Sí</option>
                        <option value="false">No</option>
                    </select>
                </div>
                <div class="select-group">
                    <label for="categoria">Categoría:</label>
                    <select id="categoria" name="categoria" required></select>
                </div>
                <input type="number" step="0.01" id="Precio" name="Precio" placeholder="Precio" required>
                <div class="select-group">
                    <label for="Proveedor">Proveedor:</label>
                    <select id="Proveedor" name="ProveedorID" required></select>
                </div>
            </div>
            <div class="button-group">
                <button type="submit" class="btn-save">Guardar Medicamento</button>
            </div>
        </form>
    </div>

    <script src="Script_C-Medicamento.js"></script>
</body>

</html>