<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/estilos.css">
    <title>Agregar Proveedor</title>
</head>

<body>
    <h1>Agregar Proveedor</h1>
    <form>
        <label for="editNombre">Nombre Proveedor:</label>
        <input type="text" id="editNombre" placeholder="Nombre del Proveedor" required>
        <label for="editTelefono">Telefono:</label>
        <input type="text" id="editTelefono" placeholder="Teléfono" required>
        <label for="editMail">Email:</label>
        <input type="email" id="editMail" placeholder="Correo Electrónico" required>

        <button onclick="enviarFormulario()">Guardar</button>
    </form>

    <script src="Script_C-Proveedor.js"></script>
</body>

</html>