<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/estilos.css">
    <title>Agregar Proveedor</title>
</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <img src="../ClientesPages/img/logo-Photoroom.png" alt="Logo Farmacias La Estrella" style="height: 40px; margin-right: 10px;">
            <span class="farmacia-nombre">Farmacias La Estrella</span>
        </div>
        <ul class="nav-links">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="../login.html">Log out</a></li>
        </ul>
    </nav>
    
    <div class="container">
        <h1 class="title">Agregar Proveedor</h1>
        <form class="categoria-form" onsubmit="event.preventDefault();">
            <div class="form-group">
                <input type="text" id="editRut" placeholder="RUT del Proveedor" required>
                <input type="text" id="editNombre" placeholder="Nombre del Proveedor" required>
                <input type="text" id="editTelefono" placeholder="Teléfono" required>
                <input type="email" id="editMail" placeholder="Correo Electrónico" required>
                <input type="text" id="editDireccion" placeholder="Dirección" required>
            </div>
            <div class="button-group">
                <button type="button" class="btn-save" onclick="enviarFormulario()">Guardar</button>
            </div>
        </form>
    </div>

    <script src="Script_C-Proveedor.js"></script>
</body>

</html>