<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar Usuario</title>
    <link rel="stylesheet" href="styles/estilos.css">
</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <img src="../ClientesPages/img/logo-Photoroom.png" alt="Logo Farmacias La Estrella" style="height: 40px; margin-right: 10px;">
            <span class="farmacia-nombre">Farmacias La Estrella</span>
        </div>
        <ul class="nav-links">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="../login.html">Log out</a></li>
        </ul>
    </nav>

    <div class="container">
        <h1 class="title">Ingresa un Usuario</h1>
        <form id="myForm" class="categoria-form">
            <div class="form-group">
                <input type="text" id="nombre" name="Nombre" placeholder="Nombre" required>
                <input type="text" id="apellido" name="Apellido" placeholder="Apellido" required>
                <input type="email" id="email" name="Correo" placeholder="Correo electrónico" required>
                <input type="password" id="contrasena" name="Contrasena" placeholder="Contraseña" required>
            </div>
            <div class="button-group">
                <button type="submit" class="btn-save">Guardar</button>
            </div>
        </form>
    </div>

    <script src="Script_C-Usuario.js"></script>

</body>

</html>