<!DOCTYPE html>
<html>

<head>
    <title>Ingresar Usuario</title>
    <link rel="stylesheet" href="styles/estilos.css">
</head>

<body>
    <h1 class="title-home">Ingresa un Usuario</h1>
    <form id="myForm" class="title-home">
        <label for="Nombre">Nombre:</label>
        <input type="text" id="nombre" name="Nombre">
        <label for="Apellido">Apellido:</label>
        <input type="text" id="apellido" name="Apellido">
        <label for="Correo">Correo:</label>
        <input type="email" id="email" name="Correo">
        <label for="contrasena">Contrasena:</label>
        <input type="text" id="contrasena" name="Contrasena">
        <button type="submit" class="title-home">Enviar</button>
    </form>

    <script src="Script_C-Usuario.js"></script>

</body>

</html>