<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/estilos.css">
    <title>Get-Usuarios</title>
</head>

<body>
    <h1>Categorias</h1>
    <button onclick="prueba()">Obtener informacion</button>

    <div></div>

    <script>
        function prueba() {
            //alert("soy una alerta")
            const url = 'http://localhost:8080/categorias' // countries api
            fetch(url)
                .then(response => response.json()) // accessing the API data as JSON
                .then(data => {

                    const lista = Object.values(data)
                    const p = document.querySelector('div')
                    var texto = []
                    for (let i = 0; i < lista.length; i++) {

                        texto = texto + (`<ul><li>${lista[i].Id_categoria}</li>
                                <li>${lista[i].nombre}</li>
                                <li>${lista[i].descripcion}</li></ul>
                                `)

                    }

                    p.innerHTML = texto

                })
                .catch(error => console.error(error))
        }
    </script>
</body>

</html>