<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/styles/estilos.css">
    <title>Index</title>
</head>

<header class="func">
    <h1 class="title-home-h">Farmacias La estrella</h1>
    <img class="img-header" src="ClientesPages/img/icon.svg" width=10% height=15%>
</header>

<body>
    <div class="funcionalidades">
        <h1 class="title-home">Funcionalidades</h1>
        <nav class="navbar">
            <ul class="func">
                <li class="func-li"> <a href="G_Pages/usuarios.html">Mostrar Usuarios</a></li>
                <li class="func-li"> <a href="G_Pages/categorias.html">Mostrar Categorias</a></li>
                <li class="func-li"> <a href="G_Pages/medicamentos.html">Mostrar Medicamentos</a></li>
                <li class="func-li"><a href="C-pages/C-Categoria.html"> Crear Categoria</li>
                <li class="func-li"> Crear Medicamento </li>
                <li class="func-li"><a href="C-pages/C-Usuario.html"> Crear usuario </a></li>


            </ul>
        </nav>
    </div>
</body>
<footer class="links">
    <ul class="func">
        <li class="func-li">home</li>
        <li class="func-li">Contactanos</li>
        <li class="func-li">Redes Sociales</li>
    </ul>
</footer>

</html>