<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/estilos.css">
    <title>Index</title>
</head>

<body>
    <div class="home">
        <h1 class="title-home">Farmacias La estrella</h1>
        <img src="icons/icon.svg" alt="240" width="240">
        <h1 class="title-home">Funcionalidades</h1>

        <ul class="func">
            <li class="func-li"> <a href="usuarios.html">Mostrar Usuarios</a></li>
            <li class="func-li"> <a href="categorias.html">Mostrar Categorias</a></li>
            <li class="func-li"> <a href="medicamentos.html">Mostrar Medicamentos</a></li>
            <li class="func-li"> <a href="lote.html">Mostrar Lotes</a></li>
        </ul>
    </div>



</body>

</html>