<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba</title>
    <link rel="stylesheet" href="styles/estilos.css">
</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <img src="ClientesPages/img/logo-Photoroom.png" alt="Logo Farmacias La Estrella" style="height: 40px; margin-right: 10px;">
            <span class="farmacia-nombre">Farmacias La Estrella</span>
        </div>
        <ul class="nav-links">
            <li><a href="index.html">Inicio</a></li>
            <li><a href="login.html">Log out</a></li>
        </ul>
    </nav>

    <section id="inicio">
        <h1>Bienvenido a el panel de administrador</h1>
        <p>Descubre todas las funcionalidades que hay para ti</p>
    </section>

    <section id="servicios">
        <div class="container">
            <h2>Creacion de:</h2>
            <div class="servicios-grid">
                <div class="servicio">
                    <h3>Categorias</h3>
                    <p>Funcion que permite crear categoria y sus medicamentos</p>
                    <button><a href="C-pages/C-Categoria.html">Crear categoria</a></button>
                </div>
                <div class="servicio">
                    <h3>Usuarios</h3>
                    <p>Funcion que permite crear usuarios para la identificacion de estos</p>
                    <button><a href="C-pages/C-Usuario.html">Crear Usuario</a></button>

                </div>
                <div class="servicio">
                    <h3>Proveedor</h3>
                    <p>Funcion que permite crear Proveedores para la trasabilidad de productos</p>
                    <button><a href="C-pages/C-Proveedor.html">Crear Proveedor</a></button>
                </div>
                <div class="servicio">
                    <h3>Medicamento</h3>
                    <p>Funcion que permite crear Medicamentos</p>
                    <button><a href="C-pages/C-Medicamento.html">Crear Medicamento</a></button>
                </div>
            </div>
            <div class="servicio">
                <h3>Venta</h3>
                <p>Funcion que permite vender productos a los usuarios</p>
                <button><a href="G_Pages/Venta.html">Vender Productos</a></button>
            </div>
        </div>
    </section>

    <section id="servicios">
        <div class="container">
            <h2>Vista de:</h2>
            <div class="servicios-grid">
                <div class="servicio">
                    <h3>Categorias</h3>
                    <p>Funcion que permite ver la informacion de las categorias y sus medicamentos</p>
                    <button> <a href="G_Pages/categorias.html"> Ver categoria </a> </button>
                </div>
                <div class="servicio">
                    <h3>Usuarios</h3>
                    <p>Funcion que permite ver la informacion de los usuarios para la identificacion de estos</p>
                    <button> <a href="G_Pages/usuarios.html"> Ver Usuario </a> </button>
                </div>
                <div class="servicio">
                    <h3>Proveedor</h3>
                    <p>Funcion que permite ver la informacion de los proveedores para la trasabilidad de productos</p>
                    <button> <a href="G_Pages/proveedores.html">Ver Proveedor</a> </button>
                </div>
                <div class="servicio">
                    <h3>Medicamentos</h3>
                    <p>Funcion que permite ver la informacion de los Medicamentoses para la trasabilidad de productos</p>
                    <button> <a href="G_Pages/medicamentos.html">Ver Medicamentos</a> </button>
                </div>
            </div>
        </div>
    </section>


    <footer>
        <p>&copy; 2024 Farmacias la estrella.</p>
    </footer>
</body>

</html>