<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresa Medicamento</title>
    <link rel="stylesheet" href="styles/estilos.css">
</head>

<body>
    <form action="http://localhost:8080/medicamento/:Id" method="post">
        <h1>Datos del medicamento</h1>
        <div>ID <input type="text"></div>
        <div>Nombre <input type="text"></div>
        <div>Marca <input type="text"></div>
        <div>Descripcion <input type="text"></div>
    </form>
</body>

</html>