<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boletas</title>
    <link rel="stylesheet" href="styles/estilos.css">
</head>
<body>
    <table id="boletas-table">
        <thead>
            <tr>
                <th>ID Usuario</th>
                <th>ID Medicamento</th>
                <th>Cantidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Las boletas se cargarán aquí dinámicamente -->
        </tbody>
    </table>
    <div id="medicamentos-info" style="display: none;">
        <!-- La información de los medicamentos se mostrará aquí -->
    </div>
    <script src="Script_Boleta.js"></script>
</body>
</html>