<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/estilos.css">
    <title>Categorias</title>
</head>

<nav class="navbar">
    <div class="logo">Farmacias La Estrella</div>
    <ul class="nav-links">
        <li class="nav-button"><a href="../index.html">Inicio</a></li>
        <li class="nav-button"><a href="../login.html">Log out</a></li>
    </ul>
</nav>

<body>
    <h1 class="title-home">Categorias</h1>

    <table>
        <thead>
            <tr>
                <th>ID CATEGORIA</th>
                <th>NOMBRE</th>
                <th>DESCRIPCION</th>
            </tr>
        </thead>
        <tbody class="Item-Categoria"></tbody>
    </table>
    <div class="medicamentos-container"></div>


    <script src="Script_Categoria.js"></script>
</body>

</html>