<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/estilos.css">
    <title>Categorias</title>
</head>

<body>

    <h1 class="title-home">Categorias</h1>

    <table>
        <thead>
            <tr>
                <th>ID CATEGORIA</th>
                <th>NOMBRE</th>
                <th>DESCRIPCION</th>
            </tr>
        </thead>
        <tbody class="Item-Categoria"></tbody>
    </table>

    <button onclick="prueba()">Obtener informacion</button>

    <div class="medicamentos-container"></div>

    <script src="Script_Categoria.js"></script>
</body>

</html>