<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/estilos.css">
    <title>Get-Medicamentos</title>
</head>

<body>
    <h1 class="title-home">Medicamentos</h1>

    <!-- Campo de búsqueda -->
    <input type="text" id="searchInput" placeholder="Busca tu Producto" onkeyup="filterMedicamentos()">

    <table>
        <thead>
            <tr>
                <th>ID Medicamento</th>
                <th>NOMBRE MEDICAMENTO</th>
                <th>MARCA</th>
                <th>DESCRIPCION</th>
                <th>Numerolote</th>
                <th>Fechafabric</th>
                <th>Fechavence</th>
                <th>Stock</th>
                <th>Categoria</th>
                <th>Bioequivalente</th>
                <th>Precio</th>
                <th>Acciones</th> <!-- Nueva columna para los botones -->
            </tr>
        </thead>
        <tbody class="Item-Medicamento"></tbody>
    </table>

    <button onclick="prueba()">Obtener Medicamentos</button>

    <div id="editModal" class="modal" style="display:none;">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Editar Medicamento</h2>
            <form id="editForm">

                <input type="hidden" id="editId">

                <label for="editNombre">Nombre:</label>
                <input type="text" id="editNombre">

                <label for="editMarca">Marca:</label>
                <input type="text" id="editMarca">

                <label for="editDescripcion">Descripción:</label>
                <input type="text" id="editDescripcion">

                <label for="editNumerolote">Número de Lote:</label>
                <input type="text" id="editNumerolote">

                <label for="editFechafabric">Fecha de Fabricación:</label>
                <input type="date" id="editFechafabric">

                <label for="editFechavence">Fecha de Vencimiento:</label>
                <input type="date" id="editFechavence">

                <label for="editStock">Stock:</label>
                <input type="number" id="editStock">


                <label for="editBioequivalente">Bioequivalente:</label>
                <select id="editBioequivalente">
                    <option value="true">Sí</option>
                    <option value="false">No</option>
                </select>




                <label for="editPrecio">Precio</label>
                <input type="number" id="editPrecio">



                <button type="submit">Actualizar</button>

            </form>
        </div>
    </div>
</body>

<script>
    let medicamentosList = []; // Almacenar la lista de medicamentos

    function prueba() {
        // Llamar a la API para obtener la lista de medicamentos
        fetch('http://localhost:8080/medicamentos')
            .then(response => response.json()) // Acceder a los datos de la API como JSON
            .then(data => {
                medicamentosList = Object.values(data); // Guardar la lista de medicamentos en medicamentosList
                displayMedicamentos(medicamentosList); // Funcioin Mostrar medicamentos
            })
            .catch(error => console.error(error));
    }

    function displayMedicamentos(lista) {
        const p = document.querySelector('tbody.Item-Medicamento');
        let texto = ''; // Información que entrega el JSON
        for (let i = 0; i < lista.length; i++) {
            texto += `<tr>
                            <td>${lista[i].Id}</td>
                            <td>${lista[i].nombre}</td>
                            <td>${lista[i].marca}</td>
                            <td>${lista[i].descripcion}</td>
                            <td>${lista[i].numerolote}</td>
                            <td>${lista[i].fechafabric}</td>
                            <td>${lista[i].fechavence}</td>
                            <td>${lista[i].stock}</td>
                            <td>${lista[i].CategoriaID}</td>
                            <td>${lista[i].bioequivalente}</td> 
                            <td>${lista[i].precio}</td>	
                            <td>
                                <button onclick="eliminarMedicamento(${lista[i].Id})">Eliminar</button>
                                <button onclick="editarMedicamento(${lista[i].Id})">Editar</button>
                            </td>
                           </tr>`;
        }
        p.innerHTML = texto;
    }

    function filterMedicamentos() {
        const input = document.getElementById('searchInput');
        const filter = input.value.toLowerCase(); // Convertir a minúsculas para comparación
        const filteredMedicamentos = medicamentosList.filter(medicamento => {
            return (
                medicamento.nombre.toLowerCase().includes(filter) ||
                medicamento.marca.toLowerCase().includes(filter) ||
                medicamento.descripcion.toLowerCase().includes(filter) ||
                medicamento.numerolote.toLowerCase().includes(filter) ||
                medicamento.fechafabric.toLowerCase().includes(filter) ||
                medicamento.fechavence.toLowerCase().includes(filter) ||
                medicamento.stock.toString().includes(filter) ||
                medicamento.CategoriaID.toString().includes(filter) ||
                medicamento.bioequivalente.toString().includes(filter) ||
                medicamento.precio.toString().includes(filter)

            );
        });
        displayMedicamentos(filteredMedicamentos); // Mostrar los medicamentos filtrados
    }

    function eliminarMedicamento(id) { //hacer que en vez de eliminar se pitee el stock pero mantenga la informacion
        fetch(`http://localhost:8080/medicamentos/${id}`, {
            method: 'DELETE'
        })
            .then(response => {
                if (response.ok) {
                    alert('Medicamento eliminado con éxito.');
                    prueba(); // Volver a cargar la lista de medicamentos
                } else {
                    alert('Error al eliminar el medicamento.');
                }
            })
            .catch(error => console.error('Error:', error));
    }



    function editarMedicamento(id) {
        const medicamento = medicamentosList.find(m => m.Id === id);
        if (medicamento) {
            document.getElementById('editId').value = medicamento.Id;
            document.getElementById('editNombre').value = medicamento.nombre;
            document.getElementById('editMarca').value = medicamento.marca;
            document.getElementById('editDescripcion').value = medicamento.descripcion;
            document.getElementById('editNumerolote').value = medicamento.numerolote;
            document.getElementById('editFechafabric').value = medicamento.fechafabric;
            document.getElementById('editFechavence').value = medicamento.fechavence;
            document.getElementById('editStock').value = medicamento.stock;
            //document.getElementById('editBioequivalente').value = medicamento.bioequivalente;
            document.getElementById('editPrecio').value = medicamento.precio;
            console.log(medicamento.bioequivalente);

            document.getElementById('editModal').style.display = 'block';
        }

    }

    function cerrarModal() {
        document.getElementById('editModal').style.display = 'none';
    }

    document.getElementById('editForm').addEventListener('submit', actualizarMedicamento);

    function actualizarMedicamento(event) {
        event.preventDefault();
        const id = document.getElementById('editId').value;
        const medicamentoActualizado = {
            nombre: document.getElementById('editNombre').value,
            marca: document.getElementById('editMarca').value,
            descripcion: document.getElementById('editDescripcion').value,
            numerolote: document.getElementById('editNumerolote').value,
            fechafabric: document.getElementById('editFechafabric').value,
            fechavence: document.getElementById('editFechavence').value,
            stock: document.getElementById('editStock').value,
            bioequivalente: document.getElementById('editBioequivalente').value, // Mantener como string
            precio: document.getElementById('editPrecio').value,
        };

        console.log('Bioequivalente:', medicamentoActualizado.bioequivalente);

        fetch(`http://localhost:8080/medicamentos/${id}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(medicamentoActualizado)
        })
            .then(response => {
                if (response.ok) {
                    alert('Medicamento actualizado con éxito.');
                    cerrarModal();
                    prueba(); // Recargar la lista de medicamentos
                } else {
                    alert('Error al actualizar el medicamento.');
                }
            })
            .catch(error => console.error('Error:', error));
    }

</script>


</html>