<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/estilos.css">
    <title>Medicamentos</title>
</head>

<body>
    <h1 class="title-home">Medicamentos</h1>

    <!-- Campo de búsqueda -->
    <input type="text" id="searchInput" placeholder="Busca tu Producto" onkeyup="filterMedicamentos()">

    <table>
        <thead>
            <tr>
                <th>ID Medicamento</th>
                <th>NOMBRE MEDICAMENTO</th>
                <th>MARCA</th>
                <th>DESCRIPCION</th>
                <th>Numerolote</th>
                <th>Fechafabric</th>
                <th>Fechavence</th>
                <th>Stock</th>
                <th>Categoria ID</th>
                <!--<th>Nombre Categoria</th>-->
                <th>Bioequivalente</th>
                <th>Precio</th>
                <th>Acciones</th> <!-- Nueva columna para los botones -->
            </tr>
        </thead>
        <tbody class="Item-Medicamento"></tbody>
    </table>

    <button onclick="GetInformacion()">Obtener Medicamentos</button>

    <!------------------------------------------------------------------------------>

    <div id="editModal" class="modal" style="display:none;">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Editar Medicamento</h2>
            <form id="editForm">

                <input type="hidden" id="editId">


                <label for="editNombre">Nombre:</label>
                <input type="text" id="editNombre">

                <label for="editMarca">Marca:</label>
                <input type="text" id="editMarca">

                <label for="editDescripcion">Descripción:</label>
                <input type="text" id="editDescripcion">

                <label for="editNumerolote">Número de Lote:</label>
                <input type="text" id="editNumerolote">

                <label for="editFechafabric">Fecha de Fabricación:</label>
                <input type="date" id="editFechafabric">

                <label for="editFechavence">Fecha de Vencimiento:</label>
                <input type="date" id="editFechavence">

                <label for="editStock">Stock:</label>
                <input type="number" id="editStock">


                <label for="editBioequivalente">Bioequivalente:</label>
                <select id="editBioequivalente">
                    <option value="true">Sí</option>
                    <option value="false">No</option>
                </select>

                <label for="editCategoria">Categoria</label>
                <select id="editCategoria">
                </select>

                <label for="editPrecio">Precio</label>
                <input type="number" id="editPrecio">



                <button type="submit">Actualizar</button>

            </form>
        </div>
    </div>
</body>

<script src="Script_Medicamento.js"></script>


</html>