<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/estilos.css">
    <title>Usuarios</title>
</head>

<body>
    <nav class="navbar">
        <div class="logo">Farmacias La Estrella</div>
        <ul class="nav-links">
            <li class="nav-button"><a href="../index.html">Inicio</a></li>
            <li class="nav-button"><a href="../login.html">Log out</a></li>
        </ul>
    </nav>
    <h1 class="title-home">Usuarios</h1>

    <div class="table-container">
        <table>
            <thead> <!--Cabecera de la tabla-->
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody class="Item-Usuarios"></tbody>
        </table>
    </div>
    <script src="Script_Usuario.js"></script>
</body>

</html>