<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Ubicacion </title>
    <link rel="stylesheet" href="/views/styles/estilos.css">
</head>

<body>

    <h1 style="color: blue; border: 1px solid white; padding: 10px; text-align: center;">Nuestra Ubicacion</h1>

    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13197.868567852009!2d-71.66189448124217!3d-34.21108874496182!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9663eb00795966b7%3A0x8cd2f79e9c87a196!2sCentro%20cultural!5e0!3m2!1ses!2ses!4v1729383785871!5m2!1ses!2ses"
        width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</body>

</html>