<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Cliente</title>
    <link rel="stylesheet" href="/views/ClientesPages/style/Estilos.css">
</head>
<body>

    <nav class="navbar">
        <div class="logo">Farmacias La Estrella</div>
        <ul class="nav-links">
            <button onclick="logout()">Log out</button>
            <button onclick="Carrito()">Carrito</button>
            <button onclick="Imprimir()">Imprimir</button>
        </ul>
    </nav>

    <header class="carrito">
       
    </header>
    <div class="saludo"></div>
    
    <div id="medicamentos" class="container mt-4"></div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="Script_VistaPrincipal.js"></script>
</body>

</html>