```html
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Home Cliente</title>
    <link rel="stylesheet" href="/views/ClientesPages/style/Estilos.css">
</head>

<body>
    <h1 class="title-home">Farmacias La Estrella</h1>
    <div id="medicamentos" class="container mt-4"></div>

    <script>
        // Obtener los medicamentos de la base de datos
        fetch('http://localhost:8080/medicamentos')
            .then(response => response.json())
            .then(data => {
                const medicamentosContainer = document.getElementById('medicamentos');
                const row = document.createElement('div');
                row.classList.add('row');
                medicamentosContainer.appendChild(row);
                data.forEach(medicamento => {
                    const card = document.createElement('div');
                    card.classList.add('card', 'col-md-3');
                    card.innerHTML = `
                        <img class="card-img-top" src="/views/ClientesPages/img/medicamento.png" alt="${medicamento.nombre}">
                        <div class="card-body">
                            <h5 class="card-title">${medicamento.nombre}</h5>
                            <h6 class="card-text">${medicamento.marca}</h6>
                            <p>${medicamento.descripcion}</p>
                            <a href="#" class="btn btn-primary">Adquirir</a>
                        </div>
                    `;
                    row.appendChild(card);
                });
            })
            .catch(error => console.error(error));
    </script>
</body>

</html>
```