form {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #87ceeb;
    color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #add8e6;
}

.title-home {
    color: #ffffff;
    padding-top: 10px;
    text-shadow:
        -1px -1px 0px #0000ff,
        1px -1px 0px #0000ff,
        -1px 1px 0px #0000ff,
        1px 1px 0px #0000ff;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #0000ff;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #87ceeb;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #f0f0f0;
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #87ceeb;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #f0f0f0;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #87ceeb;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #f0f0f0;
}

input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #87ceeb;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #f0f0f0;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #87ceeb;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #f0f0f0;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #87ceeb;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #4682b4;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to bottom, #ffffff, #87ceeb);
    width: auto;
    height: auto;
}